<!--
	Included in baseof.html "head" block by default. Page templates can either
	replace the entire head, or include additional elements using:
		partials/head-custom.html (meta, link, styles, etc)
		partials/js-head.html (any Javascript that must be in head)
	
	Always consult _default/baseof.html to see what you may be replacing or overriding.
	Note: Title is defined in _defaults/baseof.html and layouts/*.html
-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<base href="{{ .Site.BaseURL }}">
	{{ if ne .Kind "404" }}<link rel="canonical" href="{{ .Permalink }}">
	{{- with $.Site.Params.description }}<meta name="description" content="{{.}}">{{ end }}
	{{- range .AlternativeOutputFormats }} <!-- RSS, Atom feeds -->
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" 
	      href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">{{ end }}
	{{- end }}
	<link rel="preload" href="https://cashlessconsumer.in/css/smorg.css" as="style">
	<link rel="stylesheet" href="https://cashlessconsumer.in/css/smorg.css">
	{{ .Hugo.Generator -}}
	{{- partial "favicon.html" . -}}

